@model IEnumerable<Burritos1.Models.Producto>
@{ 
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<br />
@{  if (TempData["Message"] != null)
    {
        <br />
        switch ((string)TempData["Message"])
        {
            case "Exito:":
                <div class="alert alert-success" role="alert">
                    Tu burrito ha sido modificado con exito.
                </div>
                break;
            case "Nohaytantos":
                <div class="alert alert-danger" role="alert">
                    No existen tantos burritos en la hielera del vendedor 
                </div>
                break;
        }
    }
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vendedor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Costo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vendedor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Costo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.ActionLink("Ver producto", "MostrarProducto", new { id = item.Id }) |
            </td>
        </tr>
    }

</table>
