@model Burritos1.Models.Producto

<div>
    <h4>Producto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vendedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vendedor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Costo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Costo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Disponibles)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Disponibles)
        </dd>

    </dl>
</div>
<p>
    @using (Html.BeginForm())
    {
       <input type="number" name="cantidad" placeholder="Cantidad"/>
        <div class="form-group">
            <div>
                <br />
                <input type="submit" value="Añadir!" name="AddProduct" class="btn btn-success" />
            </div>
        </div>
    }
    @Html.ActionLink("Comprar Burrito", "Index") 
</p>
