@model IEnumerable<Burritos1.Models.Producto>
@{ 
    Layout = "~/Views/Shared/_VendorLayout.cshtml";
}
<p>
    @{  if (TempData["Message"] != null)
        {
            <br />
            switch ((string)TempData["Message"])
            {
                case "Modificado":
                    <div class="alert alert-success" role="alert">
                        Tu burrito ha sido modificado con exito.
                    </div>
                    break;
                case "Error":
                    <div class="alert alert-danger" role="alert">
                        Tu burrito ha tenido un error :(
                    </div>
                    break;
                case "Eliminado":
                    <div class="alert alert-danger" role="alert">
                        Tu burrito ha sido Eliminado :)
                    </div>
                    break;
                case "Agregado":
                    <div class="alert alert-success" role="alert">
                        Tu burrito ha sido Agregado :)
                    </div>
               break;
            }
        }
    }

</p>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Nombre)</th>
        <th>@Html.DisplayNameFor(model => model.Vendedor)</th>
        <th>@Html.DisplayNameFor(model => model.Tipo)</th>
        <th>@Html.DisplayNameFor(model => model.Costo)</th>
        <th>@Html.DisplayNameFor(model => model.Descripcion)</th>
        <th></th>
        
    </tr>

    @foreach (var item in Model)
        {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
            <td>@Html.DisplayFor(modelItem => item.Vendedor)</td>
            <td>@Html.DisplayFor(modelItem => item.Tipo)</td>
            <td>@Html.DisplayFor(modelItem => item.Costo)</td>
            <td>@Html.DisplayFor(modelItem => item.Descripcion)</td>
            <td>
                @Html.ActionLink("Actualizar", "ActualizarProducto", new { id = item.Id }) |
                @Html.ActionLink("Eliminar", "EliminarProducto", new { id = item.Id }) |
                @Html.ActionLink("Añadir a Hielera","AnadirHielera", new { id = item.Id })
            </td>
        </tr>
    }

</table>
